<%- include ('../partials/header')%>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <% var d=new Date()%>
    <%let today = new Date().toLocaleDateString()%>
    <%var month= d.toLocaleString('default', { month: 'long' })%>
    <% var year=new Date().getFullYear()%>
<div class="container">
    <div class="row">
        
        <div style="width:50%; margin:0 auto;">
            
            <h2 class="text-center">Order Here!!</h2>
            
            <form action="/expenses/addpurchaseditem" method="post">

             <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-10">
                    <input class="form-control" type="text" name="pitem[date]" value="<%=today%>" required>
                    </div>
            </div>
               <div class="form-group row">
                   <label for="inputEmail3" class="col-sm-2 col-form-label">Month</label>
                    <div class="col-sm-10">
                    <select id="inputState" class="form-control" name="pitem[month]">
                    <option selected><%=month.toUpperCase()%></option>
                    <option>JANUARY</option>
                    <option>FEBRUARY</option>
                    <option>MARCH</option>
                    <option>APRIL</option>
                    <option>MAY</option>
                    <option>JUNE</option>
                    <option>JULY</option>
                    <option>AUGUST</option>
                    <option>SEPTEMBER</option>
                    <option>OCTOBER</option>
                    <option>NOVEMBER</option>
                    <option>DECEMBER</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Year</label>
                    <div class="col-sm-10">
                    <select id="inputState" class="form-control" name="pitem[year]">
                    <option selected><%=year%></option>
                    <option>2020</option>
                    <option>2021</option>
                    </select>
                    </div>
                </div>    
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">200ML</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="pitem[peice200ml]" placeholder="200ml peices" required>
             </div>
             </div>
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">330ML</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="pitem[peice330ml]" placeholder="330ml peices" required>
             </div>
             </div>

             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">600ML</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="pitem[peice600ml]" placeholder="600ml peices" required>
             </div>
             </div>

             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">1.5L</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="pitem[peice1500ml]" placeholder="1.5L peices" required>
             </div>
             </div>

             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">5l</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="pitem[peice5000ml]" placeholder="5L peices" required>
             </div>
             </div>
              <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">Extra information</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="pitem[desc]" value="PS :" placeholder="extra information(optional)">
             </div>
             </div>
             
             
             
                         
             <input class="form-control" type="hidden" name="pitem[price200ml]" value="<%=price[0].price200ml%>" readonly>
           
             <input class="form-control" type="hidden" name="pitem[price330ml]" value="<%=price[0].price330ml%>" readonly>
          
             <input class="form-control" type="hidden" name="pitem[price600ml]" value="<%=price[0].price600ml%>" readonly>
            
             <input class="form-control" type="hidden" name="pitem[price1500ml]" value="<%=price[0].price1500ml%>" readonly>
             
             <input class="form-control" type="hidden" name="pitem[price5000ml]" value="<%=price[0].price5000ml%>" readonly>
             
             <input class="form-control" type="hidden" name="pitem[vat]" value="<%=price[0].vat%>" readonly>
             
             
             <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
            <p><a href="/home">Go Back</a></p>
        </form>
</div>
</div>
</div>
    
<%- include ('../partials/footer')%>