<%- include ('../partials/header')%>
<div class="container">
  <%if(pitem.length<1){%>
  <h1> No record found</h1>
  
  <% }else{ %>
  <%var gd=0%>
</div>
<section class="container-fluid px-0">
<img  src="https://res.cloudinary.com/djweoyvdx/image/upload/v1588074420/CamScanner_04-28-2020_13.27.16_2-1_hzuuch.jpg"class="img-fluid" alt="">
</section>
<div style="padding:0 30px">
  <div class="row border justify-content-center text-black"style="background:#07b0f2;">
    <p style="margin:8px;"><strong>PURCHASED HISTORY <%=pitem[0].month%> <%=pitem[0].year%></strong></p>
  </div>
    <div class="row border">
  
    <div class="column4 border">
      <P><strong>Date</strong></P>
    </div>
    <div class="column border">
      <P><strong>200<br>ml</strong></P>
    </div>
    <div class="column border">
      <P><strong>Rate</strong></P>
    </div>
    <div class="column2 border">
      <P><strong>Total</strong></P>
    </div>
    <div class="column border">
     <P><strong>300<br>ml</strong></P>
    </div>
    <div class="column border">
      <P><strong>Rate</strong></P>
    </div>
    <div class="column2 border">
      <P><strong>Total</strong></P>
    </div>
    <div class="column border">
      <P><strong>600<br>ml</strong></P>
    </div>
    <div class="column border">
    <P><strong>Rate</strong></P>
    </div>
    <div class="column2 border">
      <P><strong>Total</strong></P>
    </div>
    <div class="column border">
      <P><strong>1.5L</strong></P>
    </div>
    <div class="column border">
      <P><strong>Rate</strong></P>
    </div>
    <div class="column2 border">
     <P><strong>Total</strong></P>
    </div>
    <div class="column border">
      <P><strong>5L</strong></P>
    </div>
    <div class="column border">
      <P><strong>Rate</strong></P>
    </div>
    <div class="column2 border">
      <P><strong>Total</strong></P>
    </div>
   
    <div class="column4 border">
      <P><strong>Grand Total</strong></P>
    </div>
        <div class="column3 border">
      <P><strong>Vat-<%=pitem[0].vat%>%</strong></P>
    </div>
     <div class="column4 border">
      <P><strong>Grand Total<br>SR</strong></P>
    </div>
    <div class="column2 border">
     <P><strong>letter<br>head</strong></P>
    </div>
  </div>
  
    <% pitem.forEach(function(pitem){ %>
     <div class="row border"> 
     
    <div class="column4 border">
               <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
      <P><a href="/expenses/order/<%=pitem._id%>/edit"><%=pitem.date%></a></P>
      <% }else{ %>
                <P><%=pitem.date%></P>
      <% } %>

    </div>
    <div class="column border">
      <P><%=pitem.peice200ml%></P>
    </div>
    <div class="column border">
      <P><%=pitem.price200ml%></P>
    </div>
    <div class="column2 border">
      <P><%=(parseFloat(pitem.peice200ml)*parseFloat(pitem.price200ml)).toFixed(2)%></P>
    </div>
    <div class="column border">
      <P><%=pitem.peice330ml%></P>
    </div>
    <div class="column border">
      <P><%=pitem.price330ml%></P>
    </div>
    <div class="column2 border">
      <P><%=(parseFloat(pitem.peice330ml)*parseFloat(pitem.price330ml)).toFixed(2)%></P>
    </div>
    <div class="column border">
      <P><%=pitem.peice600ml%></P>
    </div>
    <div class="column border">
      <P><%=pitem.price600ml%></P>
    </div>
    <div class="column2 border">
      <P><%=(parseFloat(pitem.peice600ml)*parseFloat(pitem.price600ml)).toFixed(2)%></P>
    </div>
    <div class="column border">
      <P><%=pitem.peice1500ml%></P>
    </div>
    <div class="column border">
      <P><%=pitem.price1500ml%></P>
    </div>
    <div class="column2 border">
      <P><%=(parseFloat(pitem.peice1500ml)*parseFloat(pitem.price1500ml)).toFixed(2)%></P>
    </div>
    <div class="column border">
      <P><%=pitem.peice5000ml%></P>
    </div>
    <div class="column border">
      <P><%=pitem.price5000ml%></P>
    </div>
    <div class="column2 border">
      <P><%=(parseFloat(pitem.peice5000ml)*parseFloat(pitem.price5000ml)).toFixed(2)%></P>
    </div>
    

    <div class="column4 border">
      <P><%=pitem.total%></P>
    </div>
    <div class="column3 border">
      
      <P><%=(parseFloat(pitem.total)*(parseFloat(pitem.vat)/100)).toFixed(2)%></P>
    </div>
    <div class="column4 border">
      <P><%=(parseFloat(pitem.total)+(parseFloat(pitem.total)*(parseFloat(pitem.vat)/100))).toFixed(2)%></P>
    </div>
     <div class="column2 border">
      <a class="btn btn-sm btn-danger" href="/order/<%=pitem.peice200ml%>/<%=pitem.peice330ml%>/<%=pitem.peice600ml%>/<%=pitem.peice1500ml%>/<%=pitem.peice5000ml%>/<%=pitem.desc%>">view</a>
    </div>
    </div>
<%gd=gd+parseFloat(pitem.total)+(parseFloat(pitem.total)*(parseFloat(pitem.vat)/100))%>
<% }) %>

<div class="row border justify-content-center">
  <div class=" col-10 border" style="width:85%;height:60px">
    <p class="text-right"><strong>Grand total</strong></p>
  </div>
  <div class="col-2 border"style="width:15%">
    <p><strong><%=gd.toFixed(2)%> SR</strong></p>
    </div>
  </div>
  
</div>
 
<% } %>



<%- include ('../partials/footer')%>