<%- include ('../partials/header')%>

<div class="container">
  <%if(sale.length<1){%>
  <h1> No record found</h1>
  
  <% }else{ %>

</div>
<section class="container-fluid px-0">
<img  src="https://res.cloudinary.com/djweoyvdx/image/upload/v1588074420/CamScanner_04-28-2020_13.27.16_2-1_hzuuch.jpg"class="img-fluid" alt="">
</section>
  <%var st=0;var ct=0;var gt=0; var trt=0; var et=0;var rt=0;var bt=0;var tt=0;var grt=0;var x=0; var p2=0,p3=0,p6=0,p15=0,p50=0;var len=0;var fe=0,fr2=0,fr3=0;%>
 
<% fexpenses.forEach(function(fexpenses){ %>
    <%fe=fe+parseFloat(fexpenses.amount)%>
    <% }) %>
<% salary.forEach(function(salary){ %>
    <%st=st+parseFloat(salary.amount)%>
    <% }) %>
    
    <% govt.forEach(function(govt){ %>
    <%gt=gt+parseFloat(govt.amount)%>
    <% }) %>
    
    <% car.forEach(function(car){ %>
    <%ct=ct+parseFloat(car.amount)%>
    <% }) %>
    
    <% rent.forEach(function(rent){ %>
    <%trt=trt+parseFloat(rent.amount)%>
    <% }) %>
    
    <% extra.forEach(function(extra){ %>
    <%et=et+parseFloat(extra.amount)%>
    <% }) %>
     <% recipt.forEach(function(recipt){ %>
    <%rt=rt+parseFloat(recipt.amount)%>
    <% }) %>
    
    <% sale.forEach(function(sale){ %>
    <%p2=p2+parseInt(sale.peice200ml)%>
        <%p3=p3+parseInt(sale.peice330ml)%>
            <%p6=p6+parseInt(sale.peice600ml)%>
                <%p15=p15+parseInt(sale.peice1500ml)%>
                    <%p50=p50+parseInt(sale.peice5000ml)%>
                    <%if(sale.shop==="home"||sale.shop==="Home"||sale.shop==="HOME"||sale.name ==="Mr. Farhad AL Jeneede House"||sale.name ==="Gift\Promotion to individual\Co."||sale.name ==="Carton Damaged in Handling"){ %>
                    <% fr2=fr2+0%>
                    <%fr3=fr3+0%>
                    <% }else{ %>
                     <% fr2=fr2+parseInt((parseInt(sale.peice200ml)/20))%>
                    <%fr3=fr3+parseInt((parseInt(sale.peice330ml)/20))%>
                    <% } %>
    <% }) %>
    <% grt=(rt).toFixed(2)%>
    <%len=item.length%>
    <%bt=((p2+fr2)*parseFloat(item[len-1].price200ml))+((p3+fr3)*parseFloat(item[len-1].price330ml))+(p6*parseFloat(item[len-1].price600ml))+(p15*parseFloat(item[len-1].price1500ml))+(p50*parseFloat(item[len-1].price5000ml))%>
  
     <% x=(bt).toFixed(2) %>




<div class="container">
  <div class="row border justify-content-center text-black"style="background:#07b0f2;">
    <p style="margin:8px;"><strong>BALANCE SHEET OF <%=sale[0].month%> <%=sale[0].year%></strong></p>
  </div>
      <div class="row border">
    
    <div class="col-7 border">
      <P class="text-center"><strong>Description</strong></P>
    </div>
    <div class="col-5 border">
      <P><strong>Amount<br>SR</strong></P>
    </div>
    </div>
    
     <div class="row border">
      <div class="col-7 border">
        <p class="text-left"><strong>Total money spend in purchasing of sold cartons in <%=sale[0].month%> <%=sale[0].year%></strong></p>
      </div>
      <div class="col-5 border">
        <P><strong><%=x%></strong></P>
      </div>
    </div>
    

     <div class="row border">
      <div class="col-7 border">
        <p class="text-left"><strong>Total sale amount Received</strong></p>
      </div>
      <div class="col-5 border">
        <P><strong><%=grt%></strong></P>
      </div>
    </div>
    
    
    <div class="row border">
      <div class="col-7 border">
        <p class="text-left"><strong>Net saving (sale-purchased)</strong></p>
      </div>
      <div class="col-5 border">
        <P><strong><%=(grt-x).toFixed(2)%></strong></P>
      </div>
    </div>
    
    <div class="row border">
      <div class="col-7 border">
        <p class="text-left"><strong>Total expenses-1</strong></p>
      </div>
      <div class="col-5 border">
        <P><strong><%=(st+ct+gt+trt+et).toFixed(2)%></strong></P>
      </div>
    </div>
    <div class="row border">
      <div class="col-7 border">
        <p class="text-left"><strong>Total expenses-2</strong></p>
      </div>
      <div class="col-5 border">
        <P><strong><%=(fe).toFixed(2)%></strong></P>
      </div>
    </div>
    <div class="row border">
      <div class="col-7 border">
        <p class="text-left"><strong>Net amount (saving-totalexpense)</strong></p>
      </div>
      <div class="col-5 border">
        <P><strong><%=((grt-x)-(((st+ct+gt+trt+et)+fe).toFixed(2))).toFixed(2)%></strong></P>
      </div>
    </div>
        <div class="row border">
      <div class="col-7 border">
        <p class="text-left"><strong>Net Profit/Loss</strong></p>
      </div>
      <div class="col-5 border">
        <P><strong><%=((grt-x)-(st+ct+gt+trt+et+fe).toFixed(2)).toFixed(2)%></strong></P>
      </div>
    </div>
    
    
</div>

        
<% } %>        
        
<%- include ('../partials/footer')%>