<%- include ('../partials/header')%>
<div class="container">
    <% var free2=0;var free3=0;var free6=0;var free15=0;var free50=0;%>
     <% var tot2=0;var tot3=0;var tot6=0;var tot15=0;var tot50=0;%>
     <% var totl2=0;var totl3=0;var totl6=0;var totl15=0;var totl50=0;%>
  <% sales.forEach(function(sales){ %>
  <% tot2=tot2+parseInt(sales.peice200ml)%>
  <% tot3=tot3+parseInt(sales.peice330ml)%>
  <% tot6=tot6+parseInt(sales.peice600ml)%>
  <% tot15=tot15+parseInt(sales.peice1500ml)%>
  <% tot50=tot50+parseInt(sales.peice5000ml)%>
  <% if(sales.shop==="home"||sales.shop==="Home"||sales.shop==="HOME"||sales.name ==="Mr. Farhad AL Jeneede House"||sales.name ==="Gift\Promotion to individual\Co."||sales.name ==="Carton Damaged in Handling"){ %>
  <%free2=free2+0,free3=free3+0%>
  <% }else{ %>
  <% free2=free2+parseInt(parseInt(sales.peice200ml)/20);%>
  <% free3=free3+parseInt(parseInt(sales.peice330ml)/20);%>
  <% } %>
  <% }) %>
  
   
    
  <%if(item.length<1){%>
  <h1> No Items issued</h1>
  
  <% }else{ %>
  <%var gd=0%>
  
  
</div>
<section class="container-fluid px-0">
<img  src="https://res.cloudinary.com/djweoyvdx/image/upload/v1588074420/CamScanner_04-28-2020_13.27.16_2-1_hzuuch.jpg"class="img-fluid" alt="">
</section>
<div class="container">
  <%if(credit.length>0){ %>
  <div class="row border text-black"style="background:#07b0f2;">
    <div class="border" style="width:100%;padding:8px 10px;height:45px">
    <p class="text-left" id="inline"><strong>SALESMAN'S NAME - <%=item[0].name.toUpperCase()%></strong></p>
    <p class="float-right" id="inline"><strong>ISSUED ITEM IN <%=item[0].month%> <%=item[0].year%></strong></p>
    </div>
  </div>
    <div class="row border">
  
  <div class="column7 border">
      <P><strong>voch<br>no</strong></P>
    </div>
    <div class="column5 border">
      <P><strong>Date</strong></P>
    </div>
    <div class="column4 border">
      <P><strong>200<br>ml</strong></P>
    </div>
    
    <div class="column4 border">
     <P><strong>300<br>ml</strong></P>
    </div>
    
    <div class="column4 border">
      <P><strong>600<br>ml</strong></P>
    </div>
    
    <div class="column4 border">
      <P><strong>1.5L</strong></P>
    </div>
    
    <div class="column4 border">
      <P><strong>5L</strong></P>
    </div>
    
     <div class="column5 border">
      <P><strong>Grand Total</strong></P>
    </div>
  </div>
  
    <% item.forEach(function(item){ %>
     <div class="row border"> 
     <div class="column7 border">
       <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
      <P><a href="/sales/issueditem/<%=item._id%>/edit"><%=item.voucher%></a></P>
      <% }else{ %>
      <P><%=item.voucher%></P>
      <% } %>
    </div>
    <div class="column5 border">
      <P><%=item.date%></P>
    </div>
    <div class="column4 border">
      <P><%=item.peice200ml%></P>
    </div>
   
    <div class="column4 border">
      <P><%=item.peice330ml%></P>
    </div>
   
    <div class="column4 border">
      <P><%=item.peice600ml%></P>
    </div>
    
    <div class="column4 border">
      <P><%=item.peice1500ml%></P>
    </div>
    
    <div class="column4 border">
      <P><%=item.peice5000ml%></P>
    </div>
    
    <div class="column5 border">
      <P><%=item.total%></P>
    </div>
    </div>
    <% gd=gd+parseInt(item.total) %>
    <% totl2=totl2+parseInt(item.peice200ml)%>
    <% totl3=totl3+parseInt(item.peice330ml)%>
    <% totl6=totl6+parseInt(item.peice600ml)%>
    <% totl15=totl15+parseInt(item.peice1500ml)%>
    <% totl50=totl50+parseInt(item.peice5000ml)%>
<% }) %>
<div class="row border" style="background:#07b0f2;">
  <p></p>
</div>

<div class="row border">
  <div class="border" style="width:36.7%">
    <p class="text-left" style="padding:0 10px" class="text-right"><strong>Total issued items in <%=item[0].month%></strong></p>
  </div>
  <div class="border column4">
    <p><strong><%=totl2%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=totl3%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=totl6%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=totl15%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=totl50%></strong></p>
    </div>
    <div class="border column5">
    <p><strong><%=gd%></strong></p>
    </div>
  </div>

  
  <div class="row border">
  <div class="border" style="width:36.7%">
    <p class="text-left" style="padding:0 10px" class="text-right"><strong>Total items left on truck <%=credit[0].month%></strong></p>
  </div>
  <div class="border column4">
    <p><strong><%=credit[0].peice200ml%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=credit[0].peice330ml%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=credit[0].peice600ml%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=credit[0].peice1500ml%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=credit[0].peice5000ml%></strong></p>
    </div>
    <div class="border column5">
    <p><strong><%=parseInt(credit[0].peice200ml)+parseInt(credit[0].peice330ml)+parseInt(credit[0].peice600ml)+parseInt(credit[0].peice1500ml)+parseInt(credit[0].peice5000ml)%></strong></p>
    </div>
  </div>
  
  <div class="row border">
  <div class="border" style="width:36.7%">
    <p class="text-left" style="padding:0 10px" class="text-right"><strong>Total cartons in <%=item[0].month%></strong></p>
  </div>
  <div class="border column4">
    <p><strong><%=totl2+parseInt(credit[0].peice200ml)%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=totl3+parseInt(credit[0].peice330ml)%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=totl6+parseInt(credit[0].peice600ml)%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=totl15+parseInt(credit[0].peice1500ml)%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=totl50+parseInt(credit[0].peice5000ml)%></strong></p>
    </div>
    <div class="border column5">
    <p><strong><%=totl2+parseInt(credit[0].peice200ml)+totl3+parseInt(credit[0].peice330ml)+totl6+parseInt(credit[0].peice600ml)+totl15+parseInt(credit[0].peice1500ml)+totl50+parseInt(credit[0].peice5000ml)%></strong></p>
    </div>
  </div>
  
  
  
  
  <div class="row border">
  <div class="border" style="width:36.7%">
    <p class="text-left" style="padding:0 10px" class="text-right"><strong>Total cartoon sold in  <%=item[0].month%></strong></p>
  </div>
  <div class="border column4">
    <p><strong><%=tot2%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=tot3%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=tot6%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=tot15%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=tot50%></strong></p>
    </div>
    <div class="border column5">
    <p><strong><%=tot2+tot3+tot6+tot15+tot50%></strong></p>
    </div>
  </div>
  
  
  <div class="row border">
  <div class="border" style="width:36.7%">
    <p class="text-left" style="padding:0 10px" class="text-right"><strong>Total free carton given in  <%=item[0].month%></strong></p>
  </div>
  <div class="border column4">
    <p><strong><%=free2%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=free3%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=0%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=0%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=0%></strong></p>
    </div>
    <div class="border column5">
    <p><strong><%=free2+free3+free6+free15+free50%></strong></p>
    </div>
  </div>
  
  
  
  <div class="row border">
  <div class="border" style="width:36.7%">
    <p class="text-left" style="padding:0 10px" class="text-right"><strong>Grand total carton sold in <%=item[0].month%></strong></p>
  </div>
  <div class="border column4">
    <p><strong><%=free2+tot2%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=free3+tot3%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=free6+tot6%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=free15+tot15%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=free50+tot50%></strong></p>
    </div>
    <div class="border column5">
    <p><strong><%=free2+tot2+free3+tot3+free6+tot6+free15+tot15+free50+tot50%></strong></p>
    </div>
  </div>
  
  
  
  <div class="row border">
  <div class="border" style="width:36.7%">
    <p class="text-left" style="padding:0 10px" class="text-right"><strong>Total cartoon remaning in truck in  <%=item[0].month%></strong></p>
  </div>
  <div class="border column4">
    <p><strong><%=(totl2+parseInt(credit[0].peice200ml))-(free2+tot2)%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=(totl3+parseInt(credit[0].peice330ml))-(free3+tot3)%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=(totl6+parseInt(credit[0].peice600ml))-(free6+tot6)%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=(totl15+parseInt(credit[0].peice1500ml))-(free15+tot15)%></strong></p>
    </div>
    <div class="border column4">
    <p><strong><%=(totl50+parseInt(credit[0].peice5000ml))-(free50+tot50)%></strong></p>
    </div>
    <div class="border column5">
    <p><strong><%=(totl2+totl3+totl6+totl15+totl50+parseInt(credit[0].peice200ml)+parseInt(credit[0].peice330ml)+parseInt(credit[0].peice600ml)+parseInt(credit[0].peice1500ml)+parseInt(credit[0].peice5000ml))-(free2+tot2+free3+tot3+free6+tot6+free15+tot15+free50+tot50)%></strong></p>
    </div>
  </div>


<% }else{ %>
<h1 class="text-center text-danger">update item left on truck for previous month!!!!</h1>
<%if(currentuser && currentuser.isadmin.toString()==="true"){%>


    
<div class="container">
    <div class="row">
        
        <div style="width:50%; margin:0 auto;">
            
            <h2 class="text-center">update cartoons left on truck</h2>
            
            <form action="/sales/updatecreditsale/<%=item[0].name%>/<%=item[0].month%>/<%=item[0].year%>" method="post">
           
           
           <div class="form-group row">
                   <label for="inputEmail3" class="col-sm-2 col-form-label">Month</label>
                    <div class="col-sm-10">
                    <select id="inputState" class="form-control" name="item[month]">
                    <option selected>Select month</option>
                    <option>JANUARY</option>
                    <option>FEBRUARY</option>
                    <option>MARCH</option>
                    <option>APRIL</option>
                    <option>MAY</option>
                    <option>JUNE</option>
                    <option>JULY</option>
                    <option>AUGUST</option>
                    <option>SEPTEMBER</option>
                    <option>OCTOBER</option>
                    <option>NOVEMBER</option>
                    <option>DECEMBER</option>
                    </select>
                    </div>
                </div>
           
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">200ML</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="item[peice200ml]"  required>
             </div>
             </div>
              
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">330ML</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="item[peice330ml]"  required>
             </div>
             </div>

             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">600ML</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="item[peice600ml]"  required>
             </div>
             </div>
                           
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">1.5L</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="item[peice1500ml]"  required>
             </div>
             </div>
                           
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">5l</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="item[peice5000ml]" required>
             </div>
             </div>
                         
             <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
            <p><a href="/home">Go Back</a></p>
        </form>
</div>
</div>
</div>
<% } %>
 <% } %>   



</div>
<% } %>



<%- include ('../partials/footer')%>