<%- include ('../partials/header')%>
<%var free2=0; var free3=0;var tot2=0;var tot3=0; var tot6=0;var tot15=0;var tot50=0;%>
<% var pr2=0;var pr3=0; var pr15=0;var pr6=0;var pr50=0;var totfr2=0;var totfr3=0;%>
<div class="container">
  <%if(sales.length<1){%>
  <h1> No sales found</h1>
  
  <% }else{ %>
  <%var gd=0%>
</div>
<section class="container-fluid px-0">
<img  src="https://res.cloudinary.com/djweoyvdx/image/upload/v1588074420/CamScanner_04-28-2020_13.27.16_2-1_hzuuch.jpg"class="img-fluid" alt="">
</section>
<div style="padding:0 15px">
   <div class="row border text-black"style="background:#07b0f2;">
    <div class="border" style="width:100%;padding:8px 10px;height:45px">
    <p class="text-left" id="inline"><strong>SALESMAN'S NAME - <%=sales[0].name.toUpperCase()%></strong></p>
    <p class="float-right" id="inline"><strong>SALES FOR THE MONTH OF <%=sales[0].month%> <%=sales[0].year%></strong></p>
    </div>
  </div>
    <div class="row border">
  
  <div class="column2 border">
      <P><strong>voch<br>no</strong></P>
    </div>
    <div class="column4 border">
      <P><strong>Date</strong></P>
    </div>
    <div class="column border">
      <P><strong>200<br>ml</strong></P>
    </div>
    <div class="column border">
      <P><strong>Rate</strong></P>
    </div>
    <div class="column2 border">
      <P><strong>Total</strong></P>
    </div>
    <div class="column border">
     <P><strong>300<br>ml</strong></P>
    </div>
    <div class="column border">
      <P><strong>Rate</strong></P>
    </div>
    <div class="column2 border">
      <P><strong>Total</strong></P>
    </div>
    <div class="column border">
      <P><strong>600<br>ml</strong></P>
    </div>
    <div class="column border">
    <P><strong>Rate</strong></P>
    </div>
    <div class="column2 border">
      <P><strong>Total</strong></P>
    </div>
    <div class="column border">
      <P><strong>1.5L</strong></P>
    </div>
    <div class="column border">
      <P><strong>Rate</strong></P>
    </div>
    <div class="column2 border">
     <P><strong>Total</strong></P>
    </div>
    <div class="column border">
      <P><strong>5L</strong></P>
    </div>
    <div class="column border">
      <P><strong>Rate</strong></P>
    </div>
    <div class="column2 border">
      <P><strong>Total</strong></P>
    </div>
    <div class="column6 border">
      <P><strong>FR<br>2</strong></P>
    </div>
    <div class="column6 border">
      <P><strong>FR<br>3</strong></P>
    </div>
    <div class="column3 border">
      <P><strong>Grand Total</strong></P>
    </div>
        <div class="column2 border">
      <P><strong>Vat-<%=sales[0].vat%>%</strong></P>
    </div>
     <div class="column3 border">
      <P><strong>Grand Total<br>SR</strong></P>
    </div>
  </div>
  
    <% sales.forEach(function(sales){ %>

     <div class="row border"> 
     <div class="column2 border">
       <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
      <P><a href="/sales/<%=sales._id%>/edit"><%=sales.voucher%></a></P>
      <% }else{ %>
      <P><%=sales.voucher%></P>
      <% } %>
    </div>
    <div class="column4 border">
      <P><%=sales.date%></P>
    </div>
    <div class="column border">
      <P class="text-success"><%=sales.peice200ml%></P>
    </div>
    <div class="column border">
      <P><%=sales.price200ml%></P>
    </div>
    <div class="column2 border">
      <P><%=(parseFloat(sales.peice200ml)*parseFloat(sales.price200ml)).toFixed(2)%></P>
    </div>
    <div class="column border">
      <P class="text-success"><%=sales.peice330ml%></P>
    </div>
    <div class="column border">
      <P><%=sales.price330ml%></P>
    </div>
    <div class="column2 border">
      <P><%=(parseFloat(sales.peice330ml)*parseFloat(sales.price330ml)).toFixed(2)%></P>
    </div>
    <div class="column border">
      <P class="text-success"><%=sales.peice600ml%></P>
    </div>
    <div class="column border">
      <P><%=sales.price600ml%></P>
    </div>
    <div class="column2 border">
      <P><%=(parseFloat(sales.peice600ml)*parseFloat(sales.price600ml)).toFixed(2)%></P>
    </div>
    <div class="column border">
      <P class="text-success"><%=sales.peice1500ml%></P>
    </div>
    <div class="column border">
      <P><%=sales.price1500ml%></P>
    </div>
    <div class="column2 border">
      <P><%=(parseFloat(sales.peice1500ml)*parseFloat(sales.price1500ml)).toFixed(2)%></P>
    </div>
    <div class="column border">
      <P class="text-success"><%=sales.peice5000ml%></P>
    </div>
    <div class="column border">
      <P><%=sales.price5000ml%></P>
    </div>
    <div class="column2 border">
      <P><%=(parseFloat(sales.peice5000ml)*parseFloat(sales.price5000ml)).toFixed(2)%></P>
    </div>
    
    
   <% if(sales.shop ==="home"||sales.shop ==="Home"||sales.shop ==="HOME"||sales.name ==="Mr. Farhad AL Jeneede House"||sales.name ==="Gift\Promotion to individual\Co."||sales.name ==="Carton Damaged in Handling"){ %>
   <%free2=0;%>
  <% free3=0;%>
  <% }else{ %>
 
  <% free2=parseInt(parseInt(sales.peice200ml)/20);%>
  <% free3=parseInt(parseInt(sales.peice330ml)/20);%>
  <% } %>
  
    <div class="column6 border">
      <P><%=free2%></P>
    </div>
    <div class="column6 border">
      <P><%=free3%></P>
    </div>
    <div class="column3 border">
      <P><%=sales.total%></P>
    </div>
    <div class="column2 border">
      
      <P><%=(parseFloat(sales.total)*(parseFloat(sales.vat)/100)).toFixed(2)%></P>
    </div>
    <div class="column3 border">
      <P><%=(parseFloat(sales.total)+(parseFloat(sales.total)*(parseFloat(sales.vat)/100))).toFixed(2)%></P>
    </div>
    </div>
<%gd=gd+parseFloat(sales.total)+(parseFloat(sales.total)*(parseFloat(sales.vat)/100))%>
<% tot2=tot2+parseInt(sales.peice200ml)%>
<% tot3=tot3+parseInt(sales.peice330ml)%>
<% tot6=tot6+parseInt(sales.peice600ml)%>
<% tot15=tot15+parseInt(sales.peice1500ml)%>
<% tot50=tot50+parseInt(sales.peice5000ml)%>
<%totfr2=totfr2+free2;%>
<%totfr3=totfr3+free3;%>
<%pr2=pr2+parseFloat(sales.peice200ml)*parseFloat(sales.price200ml)%>
<%pr3=pr3+parseFloat(sales.peice330ml)*parseFloat(sales.price330ml)%>
<%pr6=pr6+parseFloat(sales.peice600ml)*parseFloat(sales.price600ml)%>
<%pr15=pr15+parseFloat(sales.peice1500ml)*parseFloat(sales.price1500ml)%>
<%pr50=pr50+parseFloat(sales.peice5000ml)*parseFloat(sales.price5000ml)%>
<% }) %>

<div class="row border justify-content-center">
  <div class=" col-10 border" style="width:85%;height:60px">
    <p class="text-right"><strong>Grand total</strong></p>
  </div>
  <div class="col-2 border"style="width:15%">
    <p><strong><%=gd.toFixed(2)%> SR</strong></p>
    </div>
  </div>
  
  <div class="row border text-danger">
  <div class="border" style="width:13%;float:right;">
    <p class="text-center"><strong></strong></p>
  </div>
 
    <div class="border"style="width:6.3%;float:right;">
    <p><strong>200ml</strong></p>
    </div>
    <div class="border"style="width:9%;float:right;">
    <p><strong>Amount</strong></p>
    </div>
  <div class="border"style="width:6.3%;float:right;">
    <p><strong>330ml</strong></p>
    </div>
  <div class="border"style="width:8.9%;float:right;">
    <p><strong>Amount</strong></p>
    </div>
  <div class="border"style="width:6.3%;float:right;">
    <p><strong>600ml</strong></p>
    </div>
  <div class="border"style="width:8.8%;float:right;">
    <p><strong>Amount</strong></p>
    </div>
  <div class="border"style="width:6.3%;float:right;">
    <p><strong>1.5L</strong></p>
    </div>
  <div class="border"style="width:8.7%;float:right;">
    <p><strong>Amount</strong></p>
    </div>
    <div class="border"style="width:6.3%;float:right;">
    <p><strong>5L</strong></p>
    </div>
  <div class="border"style="width:8.6%;float:right;">
    <p><strong>Amount</strong></p>
    </div>
        <div class="border"style="width:3%;float:right;">
    <p><strong>Tfr</strong></p>
    </div>
  <div class="border"style="width:3%;float:right;">
    <p><strong>Tfr</strong></p>
    </div>
  </div>
  
  
  
  <div class="row border text-primary">
  <div class="border" style="width:13%;float:right;">
    <p class="text-center"><strong>Grand total</strong></p>
  </div>
 
    <div class="border"style="width:6.3%;float:right;">
    <p><strong><%=tot2%></strong></strong></p>
    </div>
    <div class="border"style="width:9%;float:right;">
    <p><strong><%=pr2.toFixed(2)%></strong></p>
    </div>
  <div class="border"style="width:6.3%;float:right;">
    <p><strong><%=tot3%></strong></p>
    </div>
  <div class="border"style="width:8.9%;float:right;">
    <p><strong><%=pr3.toFixed(2)%></strong></p>
    </div>
  <div class="border"style="width:6.3%;float:right;">
    <p><strong><%=tot6%></strong></p>
    </div>
  <div class="border"style="width:8.8%;float:right;">
    <p><strong><%=pr6.toFixed(2)%></strong></p>
    </div>
  <div class="border"style="width:6.3%;float:right;">
    <p><strong><%=tot15%></strong></p>
    </div>
  <div class="border"style="width:8.7%;float:right;">
    <p><strong><%=pr15.toFixed(2)%></strong></p>
    </div>
    <div class="border"style="width:6.3%;float:right;">
    <p><strong><%=tot50%></strong></p>
    </div>
  <div class="border"style="width:8.6%;float:right;">
    <p><strong><%=pr50.toFixed(2)%></strong></p>
    </div>
        <div class="border"style="width:3%;float:right;">
    <p><strong><%=totfr2%></strong></p>
    </div>
  <div class="border"style="width:3%;float:right;">
    <p><strong><%=totfr3%></strong></p>
    </div>
  </div>
  
  <div class="row border text-info">
  <div class="border" style="width:13%;float:right;">
    <p class="text-center"><strong>Grand total with free </strong></p>
  </div>
 
    <div class="border"style="width:6.3%;float:right;">
    <p><strong><%=tot2+totfr2%></strong></p>
    </div>
    <div class="border"style="width:9%;float:right;">
    <p></p>
    </div>
  <div class="border"style="width:6.3%;float:right;">
    <p><strong><%=tot3+totfr3%></strong></p>
    </div>
  <div class="border"style="width:8.9%;float:right;">
    <p></p>
    </div>
  <div class="border"style="width:6.3%;float:right;">
    <p><strong><%=tot6%></strong></p>
    </div>
  <div class="border"style="width:8.8%;float:right;">
    <p></p>
    </div>
  <div class="border"style="width:6.3%;float:right;">
    <p><strong><%=tot15%></strong></p>
    </div>
  <div class="border"style="width:8.7%;float:right;">
    <p></p>
    </div>
    <div class="border"style="width:6.3%;float:right;">
    <p><strong><%=tot50%></strong></p>
    </div>
  <div class="border"style="width:8.6%;float:right;">
    <p></p>
    </div>
        <div class="border"style="width:3%;float:right;">
    <p></p>
    </div>
  <div class="border"style="width:3%;float:right;">
    <p></p>
    </div>
  </div>

<div class="row border">
  <div class=" col-10 border" style="width:100%">
    <p class="text-right"></p>
  </div>
  </div>


  <div class="row border text-success">
  <div class="border" style="width:25%;float:right;">
    <p class="text-center"><strong>Total carton sold</strong></p>
  </div>
 
    <div class="border"style="width:6%;float:right;">
    <p><strong><%=tot2+tot3+tot6+tot15+tot50%></strong></p>
    </div>
    <div class="border"style="width:25%;float:right;">
    <p class="text-center"><strong>Total free cartoon</strong></p>
    </div>
  <div class="border"style="width:6%;float:right;">
    <p><strong><%=totfr2+totfr3%></strong></p>
    </div>
  <div class="border"style="width:25%;float:right;">
    <p class="text-center"><strong>Total carton sold with free</strong></p>
    </div>
  <div class="border"style="width:6%;float:right;">
    <p><strong><%=tot2+tot3+tot6+tot15+tot50+totfr2+totfr3%></strong></p>
    </div>
  


</div>
<% } %>



<%- include ('../partials/footer')%>