<%- include ('../partials/header')%>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <% var d=new Date()%>
    <%let today = new Date().toLocaleDateString()%>
    <%var month= d.toLocaleString('default', { month: 'long' })%>
    <% var year=new Date().getFullYear()%>
<div class="container">
    <div class="row">
        
        <div style="width:50%; margin:0 auto;">
            
            <h2 class="text-center">Edit Issue Item</h2>
            
            <form action="/sales/editissue/<%=item._id%>/<%=item.name%>/<%=item.month%>/<%=item.year%>/<%=item.voucher%>?_method=PUT" method="post">
                 
                
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-10">
                    <input class="form-control" type="text" name="item[date]" value="<%=item.date%>" required>
                    </div>
            </div>
            
            
             <div class="form-group row">
                   <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                    <select id="inputState" class="form-control" name="item[name]" required>
                    <option><%=item.name%></option>
                    <%employee.forEach(function(employee){%>
                        <option><%=employee.name%></option>
                  <%  }) %>
                    
                    
                    </select>
                    </div>
                </div>
            <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Voucher No</label>
                    <div class="col-sm-10">
                    <input class="form-control" type="text" name="item[voucher]" value="<%=item.voucher%>" required>
                    </div>
            </div>
            
             
               
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">200ML</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="item[peice200ml]" value="<%=item.peice200ml%>" required>
             </div>
             </div>
             
             <input class="form-control" type="hidden" name="item[oldpeice200ml]" value="<%=item.peice200ml%>" readonly>

              
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">330ML</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="item[peice330ml]" value="<%=item.peice330ml%>" required>
             </div>
             </div>
             <input class="form-control" type="hidden" name="item[oldpeice330ml]" value="<%=item.peice330ml%>" readonly>

             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">600ML</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="item[peice600ml]" value="<%=item.peice600ml%>" required>
             </div>
             </div>
                <input class="form-control" type="hidden" name="item[oldpeice600ml]" value="<%=item.peice600ml%>" readonly> 
                
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">1.5L</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="item[peice1500ml]" value="<%=item.peice1500ml%>" required>
             </div>
             </div>
                <input class="form-control" type="hidden" name="item[oldpeice1500ml]" value="<%=item.peice1500ml%>" readonly>           
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">5L</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="item[peice5000ml]" value="<%=item.peice5000ml%>" required>
             </div>
             </div>
             <input class="form-control" type="hidden" name="item[oldpeice5000ml]" value="<%=item.peice5000ml%>" readonly>
             <div class="form-group row">
                   <label for="inputEmail3" class="col-sm-2 col-form-label">Month</label>
                    <div class="col-sm-10">
                    <select id="inputState" class="form-control" name="item[month]">
                    <option selected><%=item.month%></option>
                    <option>JANUARY</option>
                    <option>FEBRUARY</option>
                    <option>MARCH</option>
                    <option>APRIL</option>
                    <option>MAY</option>
                    <option>JUNE</option>
                    <option>JULY</option>
                    <option>AUGUST</option>
                    <option>SEPTEMBER</option>
                    <option>OCTOBER</option>
                    <option>NOVEMBER</option>
                    <option>DECEMBER</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Year</label>
                    <div class="col-sm-10">
                    <select id="inputState" class="form-control" name="item[year]">
                    <option selected><%=item.year%></option>
                    <option>2020</option>
                    <option>2021</option>
                    </select>
                    </div>
                </div>    
                         
             <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
            <p><a href="/home">Go Back</a></p>
        </form>
</div>
</div>
</div>
    
<%- include ('../partials/footer')%>