<%- include ('../partials/header')%>
    <% var d=new Date()%>
    <%let today = new Date().toLocaleDateString()%>
    <%var month= d.toLocaleString('default', { month: 'long' })%>
    <% var year=new Date().getFullYear()%>
<div class="container">
    <div class="row">
        
        <div style="width:50%; margin:0 auto;">
            
            <h2 class="text-center">Add your sales</h2>
            
            <form action="/sales/addsales" method="post">
            <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Voucher No</label>
                    <div class="col-sm-10">
                    <input class="form-control" type="text" name="sales[voucher]" placeholder="voucher number" required>
                    </div>
            </div>
                           <div class="form-group row">
                   <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                    <select id="inputState" class="form-control" name="sales[name]" required>
                    <option selected>Select salesman</option>
                    <%employee.forEach(function(employee){%>
                        <option><%=employee.name%></option>
                  <%  }) %>
                    
                    
                    </select>
                    </div>
                </div>
            
            
            
            
            
            <!--<div class="form-group row">-->
            <!--        <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>-->
            <!--        <div class="col-sm-10">-->
            <!--        <input class="form-control" type="text" name="sales[name]" placeholder="sales man name" required>-->
            <!--        </div>-->
            <!--</div>-->
             <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-10">
                    <input class="form-control" type="text" name="sales[date]" value="<%=today%>" required>
                    </div>
            </div>
               <div class="form-group row">
                   <label for="inputEmail3" class="col-sm-2 col-form-label">Month</label>
                    <div class="col-sm-10">
                    <select id="inputState" class="form-control" name="sales[month]">
                    <option selected><%=month.toUpperCase()%></option>
                    <option>JANUARY</option>
                    <option>FEBRUARY</option>
                    <option>MARCH</option>
                    <option>APRIL</option>
                    <option>MAY</option>
                    <option>JUNE</option>
                    <option>JULY</option>
                    <option>AUGUST</option>
                    <option>SEPTEMBER</option>
                    <option>OCTOBER</option>
                    <option>NOVEMBER</option>
                    <option>DECEMBER</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Year</label>
                    <div class="col-sm-10">
                    <select id="inputState" class="form-control" name="sales[year]">
                    <option selected><%=year%></option>
                    <option>2020</option>
                    <option>2021</option>
                    </select>
                    </div>
                </div>    
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">200ML</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="sales[peice200ml]" placeholder="200ml peices" required>
             </div>
             </div>
              <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">PRICE</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="sales[price200ml]" value="<%=price[0].price200ml%>" required>
             </div>
             </div>
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">330ML</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="sales[peice330ml]" placeholder="330ml peices" required>
             </div>
             </div>
                           <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">PRICE</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="sales[price330ml]" value="<%=price[0].price330ml%>" required>
             </div>
             </div>
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">600ML</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="sales[peice600ml]" placeholder="600ml peices" required>
             </div>
             </div>
                           <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">PRICE</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="sales[price600ml]" value="<%=price[0].price600ml%>" required>
             </div>
             </div>
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">1.5L</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="sales[peice1500ml]" placeholder="1.5L peices" required>
             </div>
             </div>
                           <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">PRICE</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="sales[price1500ml]" value="<%=price[0].price1500ml%>" required>
             </div>
             </div>
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">5l</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="sales[peice5000ml]" placeholder="5L peices" required>
             </div>
             </div>
                           <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">PRICE</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="sales[price5000ml]" value="<%=price[0].price5000ml%>" required>
             </div>
             </div>
             <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label">VAT</label>
                    <div class="col-sm-10">
             <input class="form-control" type="text" name="sales[vat]" value="<%=price[0].vat%>" required>
             </div>
             </div>
             <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Shop name</label>
                    <div class="col-sm-9">
                    <input class="form-control" type="text" name="sales[shop]" placeholder="shop name(optional)">
                    </div>
            </div>
             <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
            <p><a href="/home">Go Back</a></p>
        </form>
</div>
</div>
</div>
    
<%- include ('../partials/footer')%>